@import "src/styles/colors";

.Cart {
  font-size     : 1.5em;
  position      : fixed;
  z-index       : 5;
  right         : 0;
  bottom        : 0;
  padding       : 2rem;
  cursor        : pointer;
  color         : white;
  border-radius : 2rem 0 0 0;
  background    : $blue-darken-4;

  @media (min-width : 767px) {
    //top           : 0;
    //bottom        : unset;
    //border-radius : 0 0 0 2rem;
  }
}