@import "reset";
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html {
  font-family : 'Rubik', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Zen Kurenaido', sans-serif;
  //font-weight : 300;
  font-size   : 1vmin;
  font-size   : 10px;
}

body {
  font-size  : 20px;
  //font-size : calc(10px + 1vmin);
  min-height : 100vh;
}

#root {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;

  & > *:not(header):not(footer) {
    flex-grow : 1;
  }
}

.material-icons {
  font-size : inherit;
}

button {
  padding       : .2rem 1.5rem;
  transition    : border-color, box-shadow, 200ms ease;
  color         : white;
  border        : 5px solid transparent;
  border-radius : 1.2rem;
  //border        : none;
  background    : $purple-darken-4;
  box-shadow    : 0 0 0 rgb(90, 18, 148);

  &:hover {
    transform    : translateY(-.5rem);
    border-color : $purple-accent-2;
    background   : $purple-darken-1;
    box-shadow   : 0 .5rem 0 rgb(90, 18, 148);
  }

  &:active {
    transform  : none;
    box-shadow : 0 0 0 rgb(90, 18, 148);
  }
}
